.Warning{
    color: red;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid salmon;
    border-radius: 5px;
    opacity: 1;
}

.NoDisp{
    color: red;
    padding: 0;
    margin: 0;
    border: 1px solid salmon;
    border-radius: 5px;
    opacity: 0;
    height: 0;
    transition: opacity 0.5s;
}