.SideDrawer{
    height: 100%;
    width: 30%;
    background-color: #F2F3F5;
    position: fixed;
    z-index: 1000;
    overflow-x: hidden;
    opacity: 1;
    padding: 2rem 1rem;
    border-right: 1px solid #016AFB;
    text-align: center;
    transition: width 0.5s, opacity 0.1s;
   
}

.SideDrawerHide{
    color:  #F2F3F5;
    position: fixed;
    width: 0;
    height: 0;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.5s width;
}



.Link{

    width: 60%;
    text-decoration: none;
    padding: 2px;
    border-bottom: 5px solid #016AFB;
    display: inline-block;
    margin: 0.25rem;
    text-align: center;
    color: #01015B;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .Link{
        border: 1px solid  #016AFB;
    }

    .SideDrawer{
        width: 45%;
    }
}

