.SideDrawer{
    height: 100%;
    width: 30%;
    background-color: #F2F3F5;
    position: fixed;
    z-index: 1000;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 1;
}

.SideDrawerHide{
    width: 0;
    height: 0;
    box-sizing: border-box;
    opacity: 0;
}

.Link{

    width: 95%;
    text-decoration: none;
    height: 2rem;
    border: 5px solid #FDA00D;
    display: inline-block;
    margin: 0.25rem;
    text-align: center;
    color: black;
}

