.SideDrawer{
    height: 100%;
    width: 50%;
    background-color: #F2F3F5;
    position: fixed;
    z-index: 1000;
    
}

.Link{

    width: 95%;
    text-decoration: none;
    height: 2rem;
    border: 5px solid #FDA00D;
    display: inline-block;
    margin: 0.25rem;
    text-align: center;
    color: black;
}