.Hide{
    color: white;
}

.NoDisplay{
    display: none;
}

.CenterElement{
    margin: auto;
    border-collapse: collapse;
}

.Row{
    border-bottom: 1px solid #4093EC !important;
}

.tableContainer{
    overflow-x:auto;
}
