.SelectedSupplier{
    color: red;
    text-decoration: underline;
}

.Hide{
    color: white;
}

.CenterElement{
    margin: auto;
    border-collapse: collapse;
}

.Row{
    border-bottom: 1px solid #4093EC !important;
}