.ButtonSuccess{
    background-color: #D4EDDA;
    border: 1px solid #155724; 
    color: #155724;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    display: block;
    opacity: 1;
}

.NoDisplay{
    background-color: #D4EDDA;
    border: 1px solid #155724; 
    color: #155724;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    display: block;
    opacity: 0;
    transition: 0.5s opacity;
}